body {
	background-color: white;
	color:black;
}

header {
	margin-top: 20px;
}
img {
	width: 100%;
	margin-bottom: 30px;
}

a {
	text-decoration: underline;
	color: green;
	margin-bottom: 30px;
}

#bannerflog img {
	height: 100px;
}

h1, p {
	color: DeepPink ;
}

h1 {
	font-size: 50px;
	font-weight: bolder;
}

textarea, input {
	width: 100%;
	border-radius: 0px;
	border: 1px solid DeepPink;
	margin-bottom: 20px;
}

/* Estilos post nuevo */

.posteo {
	color: DeepPink;
}

.posteo strong {
	display: block;
}

.posteo hr {
	border: 1px solid DeepPink;
}

/* counter */

#counter-characters {
	font-weight: bold;
	font-size: 16px;
	color: #FFF;
	padding: 0.5em;
	background-color: DeepPink;
}

#counter-characters span {
	font-weight: normal;
}